<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>게시글 목록</title></head>
<body>
<h1>게시글 목록</h1>
<table border="1">
    <tr>
        <th>ID</th><th>제목</th><th>작성자</th><th>좋아요</th>
    </tr>
    <tr th:each="post : ${posts}">
        <td th:text="${post.id}"></td>
        <td><a th:href="@{|/posts/${post.id}|}" th:text="${post.title}"></a></td>
        <td th:text="${post.author}"></td>
        <td th:text="${post.likes}"></td>
    </tr>
</table>
<form th:action="@{/posts/new}" method="get">
    <button type="submit">새 글 작성</button>
</form>
</body>
</html>
