<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zuun.studying.firstapp.mapper.FileMapper">

<resultMap id="FileDtoMap" type="zuun.studying.firstapp.Dto.FileDto">
    <id property="id" column="id"/>
    <result property="postId" column="post_id"/>
    <result property="storedName" column="stored_name"/>
    <result property="filePath" column="file_path"/>
    <result property="fileType" column="file_type"/>
</resultMap>

    <insert id="insertFile" parameterType="zuun.studying.firstapp.entity.FileEntity">
        INSERT INTO files (original_name, stored_name, file_path, file_type,post_id,created_at)
        VALUES (#{originalName},#{storedName},#{filePath},#{fileType},#{postId},NOW())
    </insert>

    <select id="findFilesByPostId" parameterType="long" resultMap="FileDtoMap">
        SELECT id,post_id,original_name, stored_name, file_path,file_type,created_at
        FROM files
        WHERE post_id = #{postId}
    </select>

    <delete id="deleteFilesByPostId" parameterType="long">
        DELETE FROM files
        WHERE post_id = #{postId}
    </delete>

</mapper>